body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #0aa9f3;
    color: #fff;
    padding: 10px 0;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo a {
    color: #000000;
    text-decoration: none;
    font-size: 1.2rem;
    font-family: cursive, bold;
    font-weight: bold;
    padding: 50px;
}

.navbar-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-menu ul li {
    margin-right: 20px;
}

.navbar-menu ul li a {
    color: #fff;
    text-decoration: none;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f34eeb;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    display: block;
    text-decoration: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.search-bar {
    flex-grow: 1;
    margin: 0 20px;
}

.search-bar input[type="text"] {
    padding: 8px;
    border: none;
    border-radius: 5px;
}

.search-bar button {
    padding: 8px 12px;
    background-color: #555;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.shopping-cart {
    display: inline-block;
    font-size: 30px;
}

/* MODAL CSS */
.modal {
    display: none; 
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
  }
  
  .close {
    color: #fff;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
 
.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }
  
  .modal-body {
    padding: 2px 16px;
    color:#000000;
}
  
  .modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }
  
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  /* Add Animation */
  @keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
  }

/* CONTAINERS */

.container1 {
  display: flex;
  padding: 6px;
  justify-content: space-evenly;
  align-items: flex-start;
  background-color: #5cb85c;
  margin: 1% 13%;
  border: solid #000000;
  border-radius: 5px;
}
.about-us {
  flex-basis: calc(50% - 2em);
}
#something {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container2 {
  display: block;
  padding: 6px;
  justify-content: center;
  align-items: center;
  background-color: #f34eeb;
  margin: 1% 13%;
  border: solid #000000;
  border-radius: 5px;
}
.container3 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: orange;
  margin: 1% 13%;
  border: solid #000000;
  border-radius: 5px;
}

.panel-footer {
  display: flex;
  justify-content:space-between;
}


/* Boxes in Container1 */

img {
  display: flex;
  flex-direction: row;
  border-radius: 8px;
  height: 100px;
  padding: 10px;
  margin: 10px;
}
#openModalBtn{
  width: 100px;
  height: 100px;
  margin: 10px;
  background-color: #48b2e4;
}
#openModalBtn:hover {
  cursor: pointer;

}
#giveaway {
  display: flex;
  flex-direction: column;
  align-items: center;

}


#pictureBox {
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#about {
  display: block;
  justify-content: center;
  align-items: center;
}

/* Giveaway Modal */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px; 
}

.modal-header, .modal-footer {
  padding: 10px;
  background-image: linear-gradient(to bottom right, rgba(0, 81, 255, 0.966), rgb(6, 233, 6));
}

.modal-body {
  padding: 20px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#contact {
  display: flex;
  justify-content: center;
  color: orangered;
}

/* Footer */

.footer{
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 40px 0;
  background-color: black;
}
.footer .social{
  text-align: center;
  padding-bottom: 25px;
  color: white;
}
.footer .social a{
  text-align: center;
  font-size: 24px;
  color: white;
  border: 2px solid orangered;
  width: 40px;
  height: 40px;
  line-height: 38px;
  display: inline-block;
  border-radius: 50%;
  margin: 0 8px;
  box-shadow: inset 0 0 10px orangered, 0 0 10px orangered;
  transition: 0.3s ease;
}
.footer .social a:hover{
  transform: scale(1.2) translateY(-10px);
  color: orangered;
  border: 2px solid orangered;
}
.footer ul{
  text-align: center;
  padding: 0;
  font-size: 18px;
  line-height: 1.6;
  margin-top: 0;
  margin-bottom: 0;
}
.footer ul li a{
  color: white;
  border-bottom: 3px solid transparent;
  transition: 0.3s ease;
}
.footer ul li a:hover{
  border-bottom: 3px solid orangered;
}
.footer ul li{
  display: inline-block;
  padding: 0 15px;
}
.footer .copyright{
  text-align: center;
  margin-top: 15px;
  font-size: 12px;
  color: white;
}